# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
deploy
*.iml
out
gen### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


authorization/target/classes/META-INF/
authorization/target/classes/atlas-simple-authz-policy.json
authorization/target/generated-sources/
authorization/target/generated-test-sources/
authorization/target/test-classes/atlas-application.properties
authorization/target/test-classes/atlas-simple-authz-policy.json
client/client-v1/target/generated-sources/
client/client-v1/target/generated-test-sources/
client/client-v2/target/generated-sources/
client/common/target/generated-sources/
common/target/classes/META-INF/
common/target/generated-sources/
common/target/generated-test-sources/
common/target/test-classes/atlas-jaas.properties
common/target/test-classes/atlas-log4j.xml
common/target/test-classes/hdfs-site.xml
common/target/test-classes/log4j.properties
common/target/test-classes/test.properties
dashboardv2/target/
deploy/
graphdb/api/target/generated-sources/
graphdb/common/target/generated-sources/
graphdb/common/target/generated-test-sources/
graphdb/janus/target/classes/META-INF/
graphdb/janus/target/generated-sources/
graphdb/janus/target/generated-test-sources/
graphdb/janus/target/test-classes/atlas-application.properties
graphdb/janus/target/test-classes/atlas-migration-data.json
graphdb/janus/target/test-classes/col-2-legacy.json
graphdb/janus/target/test-classes/col-3-legacy.json
graphdb/janus/target/test-classes/col-legacy.json
graphdb/janus/target/test-classes/db-type-legacy.json
graphdb/janus/target/test-classes/db-v-65544.json
graphdb/janus/target/test-classes/edge-legacy-col.json
graphdb/janus/target/test-classes/edge-legacy-col2.json
graphdb/janus/target/test-classes/edge-legacy-col3.json
graphdb/janus/target/test-classes/edge-legacy-col4.json
graphdb/janus/target/test-classes/edge-legacy-process.json
graphdb/janus/target/test-classes/edge-legacy-tag.json
graphdb/janus/target/test-classes/edge-legacy.json
graphdb/janus/target/test-classes/entity-with-trait-type.json
graphdb/janus/target/test-classes/lineage-v-98312.json
graphdb/janus/target/test-classes/table-v-147504.json
graphdb/janus/target/test-classes/tag-163856752.json
intg/target/classes/META-INF/
intg/target/classes/atlas-log4j.xml
intg/target/generated-sources/
intg/target/generated-test-sources/
intg/target/test-classes/atlas-application.properties
intg/target/test-classes/atlas-jaas.properties
intg/target/test-classes/policy-store.txt
intg/target/test-classes/sampleInstance.json
intg/target/test-classes/sampleTypes.json
intg/target/test-classes/test.properties
intg/target/test-classes/users-credentials.properties
notification/target/classes/META-INF/
notification/target/generated-sources/
notification/target/generated-test-sources/
repository/target/classes/META-INF/
repository/target/generated-sources/
repository/target/generated-test-sources/
repository/target/test-classes/application.conf
repository/target/test-classes/cassandra_test.yml
repository/target/test-classes/classification_defs/
repository/target/test-classes/complex-attr_db/
repository/target/test-classes/json/
repository/target/test-classes/legacy-typesdef.json
repository/target/test-classes/parts_db/
repository/target/test-classes/path_db/
repository/target/test-classes/solr/
repository/target/test-classes/stocks-2-0.8-extended-tag.json
repository/target/test-classes/stocks_db/
repository/target/test-classes/tag1.json
server-api/target/classes/META-INF/
server-api/target/generated-sources/
test-tools/target/classes/META-INF/
test-tools/target/classes/log4j.properties
test-tools/target/classes/solr/
test-tools/target/generated-sources/
webapp/target/classes/META-INF/
webapp/target/classes/atlas-buildinfo.properties
webapp/target/classes/spring-security.xml
webapp/target/generated-sources/
webapp/target/generated-test-sources/
webapp/target/test-classes/atlas-application.properties
webapp/target/test-classes/core-site.xml
webapp/target/test-classes/json/
webapp/target/test-classes/policy-store.txt
webapp/target/test-classes/test-spring-security.xml
webapp/target/test-classes/users-credentials.properties

authorization/target/.plxarc
repository/target/solr/core-template/currency.xml
repository/target/solr/collections.txt
repository/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
repository/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
repository/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
repository/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
repository/target/maven-shared-archive-resources/META-INF/NOTICE
repository/target/maven-shared-archive-resources/META-INF/LICENSE
repository/target/maven-shared-archive-resources/META-INF/DEPENDENCIES
graphdb/janus/target/maven-shared-archive-resources/META-INF/LICENSE
graphdb/janus/target/maven-shared-archive-resources/META-INF/DEPENDENCIES
graphdb/janus/target/maven-archiver/pom.properties
graphdb/janus/target/.plxarc
graphdb/graphdb-impls/target/maven-shared-archive-resources/META-INF/NOTICE
graphdb/graphdb-impls/target/maven-shared-archive-resources/META-INF/LICENSE
graphdb/graphdb-impls/target/maven-shared-archive-resources/META-INF/DEPENDENCIES
graphdb/graphdb-impls/target/.plxarc
graphdb/common/target/test-classes/META-INF/NOTICE
graphdb/common/target/test-classes/META-INF/LICENSE
graphdb/common/target/test-classes/META-INF/DEPENDENCIES
graphdb/common/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
graphdb/common/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
graphdb/common/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
graphdb/common/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
graphdb/common/target/maven-shared-archive-resources/META-INF/NOTICE
graphdb/common/target/maven-shared-archive-resources/META-INF/LICENSE
graphdb/common/target/maven-shared-archive-resources/META-INF/DEPENDENCIES
graphdb/common/target/maven-archiver/pom.properties
graphdb/common/target/classes/META-INF/NOTICE
graphdb/common/target/classes/META-INF/LICENSE
graphdb/common/target/classes/META-INF/DEPENDENCIES
graphdb/common/target/.plxarc
graphdb/api/target/test-classes/META-INF/NOTICE
graphdb/api/target/test-classes/META-INF/LICENSE
graphdb/api/target/test-classes/META-INF/DEPENDENCIES
graphdb/api/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
graphdb/api/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
graphdb/api/target/maven-shared-archive-resources/META-INF/NOTICE
graphdb/api/target/maven-shared-archive-resources/META-INF/LICENSE
graphdb/api/target/maven-shared-archive-resources/META-INF/DEPENDENCIES
graphdb/api/target/maven-archiver/pom.properties
graphdb/api/target/classes/META-INF/NOTICE
graphdb/api/target/classes/META-INF/LICENSE
graphdb/api/target/classes/META-INF/DEPENDENCIES
graphdb/api/target/.plxarc
common/target/test-classes/META-INF/NOTICE
common/target/test-classes/META-INF/LICENSE
common/target/test-classes/META-INF/DEPENDENCIES
common/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
common/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
common/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
common/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
common/target/maven-shared-archive-resources/META-INF/NOTICE
common/target/maven-shared-archive-resources/META-INF/LICENSE
common/target/maven-shared-archive-resources/META-INF/DEPENDENCIES
common/target/maven-archiver/pom.properties
common/target/.plxarc
client/target/maven-shared-archive-resources/META-INF/NOTICE
client/target/maven-shared-archive-resources/META-INF/LICENSE
client/target/maven-shared-archive-resources/META-INF/DEPENDENCIES
client/target/.plxarc
client/common/target/test-classes/META-INF/NOTICE
client/common/target/test-classes/META-INF/LICENSE
client/common/target/test-classes/META-INF/DEPENDENCIES
client/common/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
test-tools/target/test-classes/META-INF/NOTICE
test-tools/target/test-classes/META-INF/LICENSE
test-tools/target/test-classes/META-INF/DEPENDENCIES
test-tools/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
test-tools/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
test-tools/target/maven-shared-archive-resources/META-INF/NOTICE
test-tools/target/maven-shared-archive-resources/META-INF/LICENSE
test-tools/target/maven-shared-archive-resources/META-INF/DEPENDENCIES
test-tools/target/maven-archiver/pom.properties
test-tools/target/.plxarc
target/maven-shared-archive-resources/META-INF/NOTICE
target/maven-shared-archive-resources/META-INF/LICENSE
target/maven-shared-archive-resources/META-INF/DEPENDENCIES
target/.plxarc
shaded/hbase-server-shaded/target/test-classes/META-INF/NOTICE
shaded/hbase-server-shaded/target/test-classes/META-INF/LICENSE
shaded/hbase-server-shaded/target/test-classes/META-INF/DEPENDENCIES
shaded/hbase-server-shaded/target/maven-shared-archive-resources/META-INF/NOTICE
shaded/hbase-server-shaded/target/maven-shared-archive-resources/META-INF/LICENSE
shaded/hbase-server-shaded/target/maven-shared-archive-resources/META-INF/DEPENDENCIES
shaded/hbase-server-shaded/target/maven-archiver/pom.properties
shaded/hbase-server-shaded/target/classes/META-INF/NOTICE
shaded/hbase-server-shaded/target/classes/META-INF/LICENSE
shaded/hbase-server-shaded/target/classes/META-INF/DEPENDENCIES
shaded/hbase-server-shaded/target/.plxarc
shaded/hbase-client-shaded/target/test-classes/META-INF/NOTICE
shaded/hbase-client-shaded/target/test-classes/META-INF/LICENSE
shaded/hbase-client-shaded/target/test-classes/META-INF/DEPENDENCIES
shaded/hbase-client-shaded/target/maven-shared-archive-resources/META-INF/NOTICE
shaded/hbase-client-shaded/target/maven-shared-archive-resources/META-INF/LICENSE
shaded/hbase-client-shaded/target/maven-shared-archive-resources/META-INF/DEPENDENCIES
shaded/hbase-client-shaded/target/maven-archiver/pom.properties
shaded/hbase-client-shaded/target/classes/META-INF/NOTICE
shaded/hbase-client-shaded/target/classes/META-INF/LICENSE
shaded/hbase-client-shaded/target/classes/META-INF/DEPENDENCIES
shaded/hbase-client-shaded/target/.plxarc
server-api/target/test-classes/META-INF/NOTICE
server-api/target/test-classes/META-INF/LICENSE
server-api/target/test-classes/META-INF/DEPENDENCIES
server-api/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
server-api/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
server-api/target/maven-shared-archive-resources/META-INF/NOTICE
server-api/target/maven-shared-archive-resources/META-INF/LICENSE
server-api/target/maven-shared-archive-resources/META-INF/DEPENDENCIES
server-api/target/maven-archiver/pom.properties
server-api/target/.plxarc
repository/target/test-classes/META-INF/NOTICE
repository/target/test-classes/META-INF/LICENSE
repository/target/test-classes/META-INF/DEPENDENCIES
repository/target/solr/solr.xml
repository/target/solr/core-template/synonyms.txt
repository/target/solr/core-template/stopwords.txt
repository/target/solr/core-template/solrconfig.xml
repository/target/solr/core-template/schema.xml
repository/target/solr/core-template/protwords.txt
repository/target/solr/core-template/lang/stopwords_en.txt
client/common/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
client/common/target/maven-shared-archive-resources/META-INF/NOTICE
client/common/target/maven-shared-archive-resources/META-INF/LICENSE
client/common/target/maven-shared-archive-resources/META-INF/DEPENDENCIES
client/common/target/maven-archiver/pom.properties
client/common/target/classes/META-INF/NOTICE
client/common/target/classes/META-INF/LICENSE
client/common/target/classes/META-INF/DEPENDENCIES
client/common/target/.plxarc
client/client-v2/target/test-classes/META-INF/NOTICE
client/client-v2/target/test-classes/META-INF/LICENSE
client/client-v2/target/test-classes/META-INF/DEPENDENCIES
client/client-v2/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
client/client-v2/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
client/client-v2/target/maven-shared-archive-resources/META-INF/NOTICE
client/client-v2/target/maven-shared-archive-resources/META-INF/LICENSE
client/client-v2/target/maven-shared-archive-resources/META-INF/DEPENDENCIES
client/client-v2/target/maven-archiver/pom.properties
client/client-v2/target/classes/META-INF/NOTICE
client/client-v2/target/classes/META-INF/LICENSE
client/client-v2/target/classes/META-INF/DEPENDENCIES
client/client-v2/target/.plxarc
client/client-v1/target/test-classes/META-INF/NOTICE
client/client-v1/target/test-classes/META-INF/LICENSE
client/client-v1/target/test-classes/META-INF/DEPENDENCIES
client/client-v1/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
client/client-v1/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
client/client-v1/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
client/client-v1/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
client/client-v1/target/maven-shared-archive-resources/META-INF/NOTICE
client/client-v1/target/maven-shared-archive-resources/META-INF/LICENSE
client/client-v1/target/maven-shared-archive-resources/META-INF/DEPENDENCIES
client/client-v1/target/maven-archiver/pom.properties
client/client-v1/target/classes/META-INF/NOTICE
client/client-v1/target/classes/META-INF/LICENSE
client/client-v1/target/classes/META-INF/DEPENDENCIES
client/client-v1/target/.plxarc
build-tools/target/maven-archiver/pom.properties
build-tools/target/classes/findbugs-exclude.xml
build-tools/target/classes/enunciate.xml
build-tools/target/classes/checkstyle.xml
build-tools/target/classes/checkstyle-suppressions.xml
build-tools/target/classes/checkstyle-noframes.xsl
build-tools/target/classes/checkstyle-java-header.txt
authorization/target/test-classes/META-INF/NOTICE
authorization/target/test-classes/META-INF/LICENSE
authorization/target/test-classes/META-INF/DEPENDENCIES
authorization/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
authorization/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
authorization/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
authorization/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
authorization/target/maven-shared-archive-resources/META-INF/NOTICE
authorization/target/maven-shared-archive-resources/META-INF/LICENSE
authorization/target/maven-shared-archive-resources/META-INF/DEPENDENCIES
authorization/target/maven-archiver/pom.properties
repository/target/maven-archiver/pom.properties
repository/target/.plxarc
notification/target/test-classes/META-INF/NOTICE
notification/target/test-classes/META-INF/LICENSE
notification/target/test-classes/META-INF/DEPENDENCIES
notification/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
notification/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
notification/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
notification/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
notification/target/maven-shared-archive-resources/META-INF/NOTICE
notification/target/maven-shared-archive-resources/META-INF/LICENSE
notification/target/maven-shared-archive-resources/META-INF/DEPENDENCIES
notification/target/maven-archiver/pom.properties
notification/target/.plxarc
intg/target/test-classes/META-INF/NOTICE
intg/target/test-classes/META-INF/LICENSE
intg/target/test-classes/META-INF/DEPENDENCIES
intg/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
intg/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
intg/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
intg/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
intg/target/maven-shared-archive-resources/META-INF/NOTICE
intg/target/maven-shared-archive-resources/META-INF/LICENSE
intg/target/maven-shared-archive-resources/META-INF/DEPENDENCIES
intg/target/maven-archiver/pom.properties
intg/target/.plxarc
graphdb/target/maven-shared-archive-resources/META-INF/NOTICE
graphdb/target/maven-shared-archive-resources/META-INF/LICENSE
graphdb/target/maven-shared-archive-resources/META-INF/DEPENDENCIES
graphdb/target/.plxarc
graphdb/janus/target/test-classes/META-INF/NOTICE
graphdb/janus/target/test-classes/META-INF/LICENSE
graphdb/janus/target/test-classes/META-INF/DEPENDENCIES
graphdb/janus/target/solr/solr.xml
graphdb/janus/target/solr/core-template/synonyms.txt
graphdb/janus/target/solr/core-template/stopwords.txt
graphdb/janus/target/solr/core-template/solrconfig.xml
graphdb/janus/target/solr/core-template/schema.xml
graphdb/janus/target/solr/core-template/protwords.txt
graphdb/janus/target/solr/core-template/lang/stopwords_en.txt
graphdb/janus/target/solr/core-template/currency.xml
graphdb/janus/target/solr/collections.txt
graphdb/janus/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
graphdb/janus/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
graphdb/janus/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
graphdb/janus/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
graphdb/janus/target/maven-shared-archive-resources/META-INF/NOTICE
test-tools/target/solr/solr.xml
test-tools/target/solr/core-template/synonyms.txt
test-tools/target/solr/core-template/stopwords.txt
test-tools/target/solr/core-template/solrconfig.xml
test-tools/target/solr/core-template/schema.xml
test-tools/target/solr/core-template/protwords.txt
test-tools/target/solr/core-template/lang/stopwords_en.txt
test-tools/target/solr/core-template/currency.xml
test-tools/target/solr/collections.txt
