# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

.idea
deploy
logs/
*.log
*.zip
target
deploy/
*.iml


webapp/src/main/webapp/static/.DS_Store
webapp/src/main/webapp/.DS_Store
