<?xml version="1.0" encoding="UTF-8"?>
<configuration status="info" monitorInterval="1800">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <!-- 控制台只输出level及以上级别的信息(onMatch),其他的直接拒绝(onMismatch) -->
            <!-- <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"
                /> -->
            <!-- 输出日志的格式 -->
            <PatternLayout
                    pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5p ${hostName} - [%t] - %c.%M(%F:%L) %m%n" />
        </Console>
    </Appenders>

    <Loggers>
        <root level="info">
            <appender-ref ref="console"/>
        </root>
    </Loggers>

</configuration>