<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.zeta.metaspace.web.dao.MessageCenterDAO">

    <!-- 新增消息列 -->
    <sql id="insert_message_column_List">
        id
        , name, type, module, status, tenantid, create_user, operation_time, create_time, update_time,delete,process
    </sql>

    <!--获取消息分页列表-->
    <select id="getMyMessageList" resultType="java.util.Map">
        select
        m.id,
        m.name,
        m.status,
        to_timestamp(m.operation_time::text,'YYYY-MM-DD HH24:MI:SS') as "operationTime",
        ( CASE
        WHEN m.type = 0 THEN '资源审核信息'
        WHEN m.type = 1 THEN '用户组信息'
        WHEN m.type = 2 THEN '数据服务审核'
        WHEN m.type = 3 THEN '需求审批'
        END ) "typeCn",
        count(*)over() total
        from
        message_center m
        left join
        users u
        on
        m.create_user = u.account
        <where>
            m.delete = false
            <if test='type!=null'>
                and m.type = #{type}
            </if>
            <if test='status!=null'>
                and m.status = #{status}
            </if>
            <if test="search!=null and search !=''">
                and m.name like CONCAT('%', #{search}, '%')
            </if>
            <if test="tenantId!=null and tenantId !=''">
                and m.tenantId = #{tenantId}
            </if>
            <if test="userId!=null and tenantId !=''">
                and u.userid = #{userId}
            </if>
        </where>
        order by m.create_time desc
        <if test='offset!=null'>
            offset #{offset}
        </if>
        <if test='limit!=null and limit!= -1'>
            limit #{limit}
        </if>
    </select>

    <!--获取消息详情-->
    <select id="getMessageDetail" resultType="java.util.Map">
        select
        m.name,
        m.module,
        ( CASE
        WHEN m.type = 0 THEN '资源审核信息'
        WHEN m.type = 1 THEN '用户组信息'
        WHEN m.type = 2 THEN '数据服务审核'
        WHEN m.type = 3 THEN '需求审批'
        END ) "typeCn",
        m.status,
        to_timestamp(m.operation_time::text,'YYYY-MM-DD HH24:MI:SS') as "operationTime",
        u.username as operator,
        ( CASE
        WHEN m.process = 0 THEN '已审批'
        WHEN m.process = 1 THEN '未审批'
        WHEN m.process = 2 THEN '已授权'
        WHEN m.process = 3 THEN '已移除'
        WHEN m.process = 4 THEN '已处理'
        WHEN m.process = 5 THEN '已反馈'
        WHEN m.process = 6 THEN '待处理'
        END ) "processCn",
        t.name as "tenantName"
        from
        message_center m
        left join
        users u
        on
        m.create_user = u.account
        left join
        tenant t
        on
        m.tenantId = t.id
        where
        m.delete = false
        <if test="id!=null and id !=''">
            and m.id = #{id}
        </if>
        <if test="tenantId!=null and tenantId !=''">
            and m.tenantId = #{tenantId}
        </if>
        <if test="userId!=null and tenantId !=''">
            and u.userid = #{userId}
        </if>
    </select>

    <!--获取未读消息数量-->
    <select id="getUnReadNum" resultType="java.lang.Integer">
        select
        count(*) as num
        from
        message_center m
        left join
        users u
        on
        m.create_user = u.account
        where
        m.delete = false
        and
        status = 0
        <if test="type!=null and type !=-1">
            and m.type = #{type}
        </if>
        <if test="tenantId!=null and tenantId !=''">
            and m.tenantId = #{tenantId}
        </if>
        <if test="userId!=null and userId !=''">
            and u.userid = #{userId}
        </if>
    </select>

    <!--批量标记已读-->
    <update id="batchToRead">
        update message_center set status=1
        where id in
        <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </update>

    <!--批量删除消息-->
    <update id="batchDelte">
        update message_center set delete=true
        where
        <choose>
            <when test="delAll!=null and delAll !='true'">
                id in
                <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </when>
            <otherwise>
                id in (select
                m.id
                from
                message_center m
                left join
                users u
                on
                m.create_user = u.account
                where
                m.delete = false
                and
                m.status = 1
                <if test="tenantId!=null and tenantId !=''">
                    and m.tenantId = #{tenantId}
                </if>
                <if test="userId!=null and userId !=''">
                    and u.userid = #{userId}
                </if>)
            </otherwise>
        </choose>
    </update>

    <!--新增消息-->
    <insert id="addMessage" parameterType="io.zeta.metaspace.model.entities.MessageEntity">
        insert into message_center
        (
        <include refid="insert_message_column_List"/>
        )
        values
        (
        #{message.id},
        #{message.name},
        #{message.type},
        #{message.module},
        0,
        #{message.tenantid},
        #{message.createUser},
        now(),
        now(),
        now(),
        #{message.delete},
        #{message.process}
        )
    </insert>


</mapper>